.submission {
    padding: .7em .5em;
    margin: .5em;
    background-color: #ffffff47;
    display: flex;
    align-self: center;
    font-family: "Anonymous Pro", monospace;
    flex-direction: column;
    border-radius: 30px;
    font-size: 25px;
    color: black;
    gap: 10px
}

.submissionName {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.submissionImage {
    align-self: center;
    display: block;
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.customSubmission {
    width: 50%;
    align-content: center;
    box-shadow: 0 0 30px 5px #e0c948;
}

.customSubmissionContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1em
}

@media (max-width: 800px) {
    .customSubmissionContainer {
        flex-direction: column;
    }
    .customSubmission{
        width: initial;
    }
    .submissionName {
        font-size: 30px;
    }
    .submissionImage{
        max-width: 300px;
    }
}